@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #81b71a;
}

.container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: center; 
}

.card {
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: calc(25% - 20px); 
    max-width: 250px;
    text-align: center;
    transition: transform 0.3s; 
    margin-bottom: 20px;
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: auto;
}

.card h2 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #81b71a;
}

.card p {
    font-size: 1em;
    margin: 0 0 15px 0;
}

@media (max-width: 915px) {
    .card {
        width: calc(50% - 20px); 
    }
}

@media (max-width: 768px) {
    .card {
        width: calc(100% - 20px); 
    }
}